$hamburger-size: 50px;
$menu-font-color: rgb(255, 255, 255);
$menu-bg-color: #4C98CF;
$font: 'Ubuntu',
sans-serif,
Arial,
Helvetica;
$category-green: #82D4BB;
$category-blue: #4C98CF;
$category-pink: #EB5160;
$category-violett: #595386;
$category-dark-blue: #4873A6;
$media-medium: 1365px;
$media-small: 980px; 

$menu-font-size: 36px;
@font-face {
    font-family: FontAwesome;
    src: url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
}

@mixin position-center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

* {
    font-family: $font;
    box-sizing: border-box;
}

body {
    background: #000;
}

.hamburger {
    width: $hamburger-size;
    position: fixed;
    left: 3vw;
    top: 5vh;
    transition: .5s;
    z-index: 9999;
    text-decoration: none;
    outline: 0;
    span {
        width: 50%;
        border: $hamburger-size/20 solid $menu-font-color;
        display: block;
        border-radius: 20%;
        opacity: 0.6;
        margin-bottom: $hamburger-size/4;
        transition: .5s ease-in-out;
        &:nth-child(2) {
            width: 100%;
        }
        &:nth-child(3) {
            margin-left: $hamburger-size/2;
        }
    }
    &:hover span {
        opacity: 1;
        animation-delay: .5s
    }
    &.open {
        transform: rotate(-45deg);
        transition: .5s ease-in-out;
        span {
            &:nth-child(1) {
                transform: rotate(90deg) translateY(-$hamburger-size/4) translateX($hamburger-size/10 + $hamburger-size/40)
            }
            &:nth-child(3) {
                transform: rotate(90deg) translateY($hamburger-size/4) translateX(-$hamburger-size/10)
            }
            opacity: 1;
        }
    }
}

.view-on-git{
    display: block;
    position: fixed;
    right: 3vw;
    top: 3vh; 
    color: $menu-font-color;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    opacity: .8;

    .view-on-git-underline{
        height: 2px;
        width: 100%;
        background: $menu-font-color;
        position: relative;
        transition: all .25s ease-in-out 0s;
        transform: scaleX(0);
    }

    &:hover {
        opacity: 1;
        .view-on-git-underline{
            transform: scaleX(1);
        }
    }
}

nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9998;
    &::before {
        background: $menu-bg-color;
        content: '';
        @include position-center;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
        transform: scale(0.04);
        overflow: hidden;
        z-index: -1;
    }
    &.open {
        top: 0;
        &::before {
            animation: menuAnimation .8s ease-out forwards;
        }
    }
    .menu {
        margin: auto;
        margin-top: 20vh;
        width: 620px;
        font-size: $menu-font-size;
        @media screen and (min-height: 1700px) {
            font-size: $menu-font-size * 1.3;
        }

        @media screen and (max-height: 600px) {
            font-size: $menu-font-size * .8;
            margin-top: 12vh;
        }



        .author{
            position: relative;
            width: 100%;
            text-align: center;
            span{
                position: relative;
                z-index: 1;
                background-color: $menu-bg-color;
                color: $menu-font-color;
                font-size: 0.5em;
                font-weight: 1000;
                padding: 0 10px;
            }
            .under-line{
                width: 100%;
                height: 4px;
                background: #fff;
                z-index: -1;
                position: absolute;
                top: ($menu-font-size)-4;
                transform: scale(.5);
            }
        }
        ul {
            list-style: none;
            text-align: center;
            padding: 0;
            li {
                padding: 10px;
                overflow: hidden;
                display: block;
                position: relative;
                &::after{
                    content: "";
                    background-color: $menu-font-color;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: scaleY(0);
                    transform-origin: 0 100%;
                    transition: all 0.25s ease-in-out;
                    z-index: -1;
                }

                &:hover::after{
                    transform: scaleY(1)
                }
            }
            a {
                text-decoration: none;
                color: $menu-font-color;
                font-weight: 600;
                font-size: 2em;

                &:hover{
                    color: $menu-bg-color;
                }
            }
        }
    }

    .menu.menu-open{
        opacity: 0;
        transform: translateX(100vw);
        animation: slideIn .6s ease-in .8s forwards;
    }

    .social-container {
        max-width: 620px;
        border: 1px solid $menu-font-color;
        padding: 20px 0;
        margin: 100px 0 0 0;
        font-size: $menu-font-size;
        @media screen and (min-height: 1700px) {
            font-size: $menu-font-size * 1.3;
            margin: 200px 0 0 0;
        }

        @media screen and (max-height: 600px) {
            margin: 50px 0 0 0;
        }
        .social {
            width: 300px;
            display: inline-block;
            text-decoration: none;
            color: $menu-font-color;
            font-weight: 600;
            font-size: 1em;
            text-align: center;

            &:hover{
                opacity: .8;
                color: $menu-font-color - 36;
            }

            @media screen and (min-width: $media-small) and (max-width: $media-medium) {
                font-size: 1.5em;
            }
        }
    }
}

main {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: $menu-font-size/3;
    .nav-category {
        position: absolute;
        display: flex;
        align-content: center;
        box-sizing: border-box;
        outline: 10px solid #fff;
        cursor: pointer;
        outline-offset: -10px;
        a {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .category {
            color: white;
            text-align: center;
            margin: auto;
            overflow: hidden;
            padding: 5%;
            z-index: 2;
            .category-title {
                font-size: 2.5em;
                font-weight: 1000;
                text-shadow: 2px 2px 3px #727272;
                @media screen and (min-width: $media-small) and (max-width: $media-medium) {
                    font-size: 3.5em;
                }

                @media screen and (max-width: $media-small) {
                    font-size: 4em;
                }
            }
        }
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(51, 51, 51, 0.5);
            z-index: 1;
            outline: 10px solid #fff;
            outline-offset: -10px;
            opacity: 0;
        }
        &:after {
            content: "\f078";
            position: absolute;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            bottom: 20px;
            right: 50%;
            font-size: 3em;
            color: $menu-font-color;
            transform: translate3d(50%, 20px, 0);
            z-index: 2;
            opacity: 0;
            transition: 0.5s;
        }
        &:hover {
            &:before {
                opacity: 1;
            }
            &:after {
                display: block;
                transform: translate3d(50%, 0, 0);
                opacity: 1;
            }
        }
    }
    .nav-container {
        width: 50%;
        height: 100vh;
        position: relative;
        float: left;
        @media screen and (max-width: $media-medium) {
            width: 100%;
        }
    }
    .nav-left {
        .cat-1 {
            width: 100%;
            height: 50vh;
            top: 0;
            left: 0;
            background: $category-dark-blue;
        }
        .cat-5 {
            width: 50%;
            height: 50vh;
            top: 50vh;
            left: 50%;
            background: $category-blue;
            @media screen and (min-width: $media-small) and (max-width: $media-medium) {
                left: 50vw;
            }
        }
        .cat-6 {
            width: 50%;
            height: 25vh;
            top: 50vh;
            left: 0;
            background: $category-pink;
            @media screen and (max-width: $media-small) {
                font-size: 0.5em;
            }
        }
        .cat-7 {
            width: 25%;
            height: 25vh;
            top: 75vh;
            left: 0;
            background: $category-green;
            @media screen and (max-width: $media-small) {
                font-size: 0.5em;
            }
        }
        .cat-8 {
            width: 25%;
            height: 25vh;
            top: 75vh;
            left: 25%;
            background: $category-violett;
            @media screen and (min-width: $media-small) and (max-width: $media-medium) {
                left: 25%;
            }

            @media screen and (max-width: $media-small) {
                font-size: 0.5em;
            }
        }
    }
    .nav-right {
        @media screen and (min-width: $media-small) and (max-width: $media-medium) {
            height: 150vh;
        }
        .cat-2 {
            width: 100%;
            height: 33.33vh;
            top: 0;
            right: 0;
            background: $category-pink;
            @media screen and (min-width: $media-small) and (max-width: $media-medium) {
                height: 50vh;
            }
        }
        .cat-3 {
            width: 100%;
            height: 33.33vh;
            top: 33.33vh;
            right: 0;
            background: $category-green;
            @media screen and (min-width: $media-small) and (max-width: $media-medium) {
                height: 50vh;
                top: 50vh;
            }
        }
        .cat-4 {
            width: 100%;
            height: 33.33vh;
            top: 66.66vh;
            right: 0;
            background: $category-violett;
            @media screen and (min-width: $media-small) and (max-width: $media-medium) {
                height: 50vh;
                top: 100vh;
            }
        }
    }
}

@keyframes menuAnimation {
    0% {
        opacity: 0;
        transform: scale(0.04) translateY(300%);
    }
    40% {
        transform: scale(0.04) translateY(0);
        transition: ease-out;
    }
    40% {
        transform: scale(0.04) translateY(0);
    }
    60% {
        opacity: 1;
        transform: scale(0.02) translateY(0px);
    }
    61% {
        transform: scale(0.04);
    }
    99% {
        height: 0;
        padding-bottom: 100%;
        border-radius: 100%;
    }
    100% {
        transform: scale(2);
        height: 100%;
        padding-bottom: 0;
        border-radius: 0;
    }
}

@keyframes slideIn{
    0%{
        opacity: 0;
        transform: translateX(50vw);
    }

    20%{
        opacity: 1;
        transform: translateX(20vw);
    }

    50%{
        opacity: 1;
        transform: translateX(-25vw);
    }

    70%{
        opacity: 1;
        transform: translateX(15vw);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}